.label {
  margin-bottom: 0;
}

table {
  tr {
    cursor: pointer;
  }
}

.flex-container {
  display: flex;
  flex: 1 1 0;
  gap: 20px;
  flex-direction: row;

  @media screen and (max-width: 1279px) {
    flex-direction: column;
  }
}
