### Angular ###
# compiled output
client/dist/
client/tmp/
client/app/**/*.js
client/app/**/*.js.map

# dependencies
client/node_modules/
client/bower_components/

# IDEs and editors
client/.idea/

# misc
client/.sass-cache/
client/connect.lock/
client/coverage/
client/libpeerconnection.log/
client/npm-debug.log
client/testem.log
client/typings/

# e2e
client/e2e/*.js
client/e2e/*.map

#System Files
**/.DS_Store/

### DotnetCore ###
# .NET Core build folders
server/**/bin
server/**/obj
server/**/*.user
server/**/.vs
server/RdtClient.Web/wwwroot/

build/
publish/data
.github/