version: '3.3'
services:
    rdtclient:
        image: rogerfar/rdtclient
        volumes:
            - 'C:/Downloads/:/data/downloads'
            - 'C:/Docker/rdtclient/:/data/db'
        container_name: rdtclient
        restart: always
        logging:
            driver: json-file
            options:
                max-size: 10m
        ports:
            - '6500:6500'
