<div class="notification is-danger is-light" *ngIf="error && error.length > 0">
  An error has occured: {{ error }}<br />
  Please refresh the screen after fixing this error.
</div>
<div class="table-container">
  <table class="table is-fullwidth is-hoverable">
    <colgroup>
      <col style="width: calc(65% - 550px)" />
      <col style="width: 15%" />
      <col style="width: 150px" />
      <col style="width: 150px" />
      <col style="width: 150px" />
      <col style="width: 20%" />
      <col style="width: 100px" />
    </colgroup>
    <thead>
      <tr>
        <th>Name</th>
        <th>Size</th>
        <th>Files</th>
        <th>Downloads</th>
        <th>Auto</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let torrent of torrents; trackBy: trackByMethod">
        <tr
          app-torrent-row
          [torrent]="torrent"
          (click)="selectTorrent(torrent)"
          (delete)="showDeleteModal($event)"
        ></tr>
        <ng-container *ngIf="showFiles[torrent.torrentId] && torrent?.files.length === 0">
          <tr>
            <td colspan="20">
              <i class="fas fa-spinner fa-pulse"></i>
            </td>
          </tr>
          <tr app-torrent-file [file]="file" *ngFor="let file of torrent.files"></tr>
        </ng-container>
      </ng-container>
    </tbody>
  </table>
</div>

<div class="modal" [class.is-active]="isDeleteModalActive">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Delete torrent</p>
      <button class="delete" aria-label="close" (click)="deleteCancel()"></button>
    </header>
    <section class="modal-card-body">
      <div class="field">
        <label class="label"></label>
        <div class="control">
          <label class="checkbox">
            <input type="checkbox" [(ngModel)]="deleteData" />
            Delete Torrent from local RealDebrid Client
          </label>
          <br />
          <label class="checkbox">
            <input type="checkbox" [(ngModel)]="deleteRdTorrent" />
            Delete Torrent from RealDebrid
          </label>
          <br />
          <label class="checkbox">
            <input type="checkbox" [(ngModel)]="deleteLocalFiles" />
            Delete local files
          </label>
        </div>
      </div>
      <div class="notification is-primary">
        Deleting a torrent from RealDebrid will automatically delete it here too.
      </div>
      <div class="notification is-danger is-light" *ngIf="deleteError?.length > 0">
        Error deleting torrent: {{ deleteError }}
      </div>
    </section>
    <footer class="modal-card-foot">
      <button
        class="button is-success"
        (click)="deleteOk()"
        [disabled]="deleting"
        [ngClass]="{ 'is-loading': deleting }"
      >
        Delete
      </button>
      <button class="button" (click)="deleteCancel()" [disabled]="deleting" [ngClass]="{ 'is-loading': deleting }">
        Cancel
      </button>
    </footer>
  </div>
</div>
