<div class="notification is-danger is-light" *ngIf="error && error.length > 0">
  An error has occured: {{ error }}<br />
  Please refresh the screen after fixing this error.
</div>
<div class="table-container">
  <table class="table is-fullwidth is-hoverable">
    <colgroup>
      <col />
      <col />
      <col />
      <col style="width: 50px;" />
      <col style="width: 50px;" />
    </colgroup>
    <thead>
      <tr>
        <th>Name</th>
        <th>Size</th>
        <th>Status</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let torrent of torrents; trackBy: trackByMethod">
        <tr
          app-torrent-row
          [torrent]="torrent"
          (click)="selectTorrent(torrent)"
        ></tr>

        <ng-container
          *ngIf="showFiles[torrent.torrentId] && torrent?.files.length === 0"
        >
          <tr>
            <td colspan="20">
              <i class="fas fa-spinner fa-pulse"></i>
            </td>
          </tr>
        </ng-container>
        <ng-container
          *ngIf="showFiles[torrent.torrentId] && torrent?.files.length > 0"
        >
          <tr
            app-torrent-file
            [file]="file"
            *ngFor="let file of torrent.files"
          ></tr>
        </ng-container>
      </ng-container>
    </tbody>
  </table>
</div>
