<div class="notification is-danger is-light" *ngIf="error && error.length > 0">
  An error has occured: {{ error }}<br />
  Please refresh the screen after fixing this error.
</div>
<div class="table-container">
  <table class="table is-fullwidth is-hoverable">
    <thead>
      <tr>
        <th>Name</th>
        <th>Category</th>
        <th>Files</th>
        <th>Downloads</th>
        <th>Size</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr (click)="selectTorrent(torrent.torrentId)" *ngFor="let torrent of torrents; trackBy: trackByMethod">
        <td>
          {{ torrent.rdName }}
        </td>
        <td>
          {{ torrent.category }}
        </td>
        <td>
          {{ torrent.files.length | number }}
        </td>
        <td>
          {{ torrent.downloads.length | number }}
        </td>
        <td>
          {{ torrent.rdSize | filesize }}
        </td>
        <td>
          {{ torrent | status }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
