table {
  tr {
    cursor: pointer;
    td.break-all {
      word-break: break-all;
    }
  }
    // Make table horizontally scrollable on small screens
    @media screen and (max-width: 768px) {
      display: block;
      overflow-x: auto;
      white-space: nowrap;
    }
}

.flex-container {
  display: flex;
  flex: 1 1 0;
  gap: 20px;
  flex-direction: row;

  @media screen and (max-width: 1279px) {
    flex-direction: column;
  }
}
