<div class="field">
  <label class="label">Login username</label>
  <div class="control">
    <input class="input" type="text" minlength="1" [(ngModel)]="username" />
  </div>
  <p class="help">
    This is the username you use to login Real-Debrid Client. Only change this if you want to change the username.
  </p>
</div>
<div class="field">
  <label class="label">Login password</label>
  <div class="control">
    <input class="input" type="password" minlength="1" [(ngModel)]="password" />
  </div>
  <p class="help">
    This is the password you use to login Real-Debrid Client. Only change this if you want to change the password.
  </p>
</div>

<div class="field">
  <div class="control">
    @if (error !== null) {
      <div class="notification is-danger is-light">Error saving: {{ error }}</div>
    }
  </div>
</div>

<div class="field">
  <div class="control">
    @if (success) {
      <div class="notification is-success is-light">Your profile has been updated</div>
    }
  </div>
</div>

<div class="field">
  <div class="control">
    <button class="button is-success" (click)="save()" [disabled]="saving" [ngClass]="{ 'is-loading': saving }">
      Save Profile
    </button>
  </div>
</div>
