.file-name {
  max-width: 24em;
  width: 24em;
}

.scroll-container {
  width: 100%;
  overflow-x: auto;
  overflow-y: auto;
  max-height: 603px;
}

.is-fullwidth-label {
  width: 100%;
}

.is-block {
  display: block;
}
