<section class="hero is-dark is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-5-tablet is-5-desktop is-5-widescreen">
          <img src="assets/logo.png" />
          <div class="box">
            <form (ngSubmit)="login()">
              <div class="field">
                <label for="userName" class="label">Username</label>
                <div class="control has-icons-left">
                  <input
                    type="text"
                    placeholder=""
                    class="input"
                    name="userName"
                    id="userName"
                    (change)="setUserName($event)"
                    required
                  />
                  <span class="icon is-small is-left">
                    <i class="fa fa-envelope"></i>
                  </span>
                </div>
              </div>
              <div class="field">
                <label for="password" class="label">Password</label>
                <div class="control has-icons-left">
                  <input
                    type="password"
                    class="input"
                    required
                    name="password"
                    id="password"
                    (change)="setPassword($event)"
                  />
                  <span class="icon is-small is-left">
                    <i class="fa fa-lock"></i>
                  </span>
                </div>
              </div>
              <div class="field">
                <button
                  class="button is-success"
                  type="submit"
                  [ngClass]="{ 'is-loading': loggingIn }"
                  [disabled]="loggingIn"
                >
                  Login
                </button>
              </div>
              @if (error?.length > 0) {
                <div class="notification is-danger is-light">
                  {{ error }}
                </div>
              }
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
