<td>{{ torrent.rdName }}</td>
<td>
  {{ torrent.files.length | number }}
</td>
<td>
  {{ torrent.downloads.length | number }}
</td>
<td class="auto">
  <i class="fas fa-trash" *ngIf="torrent.autoDelete" title="Auto delete"></i>
</td>
<td>
  {{ torrent.rdSize | filesize }}
</td>
<td>
  {{ torrent | status }}
</td>
<td>
  <span class="icon sync-icon" (click)="retryClick($event)" title="Retry" *ngIf="!loading">
    <i class="fas fa-sync"></i>
  </span>
  <span class="icon delete-icon" (click)="deleteClick($event)" title="Delete torrent" *ngIf="!loading">
    <i class="fas fa-times"></i>
  </span>
  <span class="icon loading-icon" *ngIf="loading">
    <i class="fas fa-spinner fa-pulse"></i>
  </span>
</td>
